<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_referencing' or app.request.attributes.get('_route') starts with 'admin_keywords' %}active{% endif %}">
    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Referencement" }} <b
                class="caret"></b></a>
    <ul class="dropdown-menu">
        <li {% if app.request.attributes.get('_route') starts with 'admin_referencing' %}class="active"{% endif %}><a
                    href="{{ path('admin_referencing') }}">{{ "Referencement des pages" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_keywords' %}class="active"{% endif %}><a
                    href="{{ path('admin_keywords') }}">{{ "Key words" }}</a></li>
    </ul>
</li>

<li {% if app.request.attributes.get('_route') starts with 'admin_news' %}class="active"{% endif %}>
    <a href="{{ path('admin_news') }}">{{ "News" }}</a>
</li>

<li {% if app.request.attributes.get('_route') starts with 'admin_contact' %}class="active"{% endif %}>
    <a href="{{ path('admin_contact') }}">{{ "Devis" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_contactmail' %}class="active"{% endif %}>
    <a href="{{ path('admin_contactmail') }}">{{ "Demande de Contact" }}</a>
</li>

<li {% if app.request.attributes.get('_route') starts with 'point_web_calendar_admin_reroute' %}class="active"{% endif %}>
    <a href="{{ path('point_web_calendar_admin_reroute') }}">{{ "Calendrier" }}</a>
</li>

<li {% if app.request.attributes.get('_route') starts with 'admin_user' %}class="active"{% endif %}>
    <a href="{{ path('admin_user') }}">{{ "Utilisateurs" }}</a>
</li>
