<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-3">
				<div class="sidebar">
					<!-- Subscription widget -->
					<div class="card-panel">
						<div class="row">
							<div class="col-md-12">
								{{ form_start(form) }}
								<h5>Demande de Contact</h5>
								<h6>Une réponse vous serra donné au plus vite.</h6>
								<br>
								<div class="input-field">
									<i class="material-icons prefix">account_circle</i>
									
									{{ form_errors(form.name) }}
									{{ form_widget(form.name) }}
									<label for="icon_prefix">Votre nom</label>
								</div>
								<div class="input-field">
									<i class="material-icons prefix">mail</i>
									{{ form_errors(form.email) }}
									{{ form_widget(form.email) }}
									<label for="icon_telephone">Email</label>
								</div>
							</div>
							<div class="text-center">
							</div>
						</div>
						{{ form_end(form) }}
						
					</div>
					<p>
									<em>Vous pouvez remplir un <strong>devis</strong> directement <a href="{{path('point_web_app_contact')}}">ici</a>.</em>
								</p>
					<!--/.Subscription widget -->
					<br>
					<!-- Category widget -->
					<!--
					<div class="collection">
								<a href="#!" class="collection-item">Category 1</a>
								<a href="#!" class="collection-item active">Category 1</a>
								<a href="#!" class="collection-item">Category 1</a>
								<a href="#!" class="collection-item">Category 1</a>
								<a href="#!" class="collection-item">Category 1</a>
								<a href="#!" class="collection-item">Category 1</a>
					</div> -->
				</div>
			</div>